# Entornos virtuales
entorno_analisis/
venv/
.env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
